<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Asociados</title>
    <link rel="stylesheet" href="static/asociado/listar.css">
</head>

<body>
<header>
    <h1>Listado de Asociados</h1>
</header>

<main>
    <div class="search-container">
        <label for="search">Buscar:</label>
        <input type="text" id="search" placeholder="Buscar..." onkeyup="filterTable()">
        <select id="searchCategory">
            <option value="0">Nombre</option>
            <option value="1">Primer Apellido</option>
            <option value="2">Segundo Apellido</option>
            <option value="6">Teléfono</option>
            <option value="7">Otro Número</option>
            <option value="9">Municipio</option>
        </select>
    </div>

    <table id="asociadosTable">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Primer Apellido</th>
            <th>Segundo Apellido</th>
            <th>Activo</th>
            <th>Carnet</th>
            <th>Sexo</th>
            <th>Teléfono</th>
            <th>Otro Número</th>
            <th>Dirección</th>
            <th>Municipio</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>

        {{ range .asociados}}
        <tr>
            <td>{{.Nombre}}</td>
            <td>{{.Apellido1}}</td>
            <td>{{.Apellido2}}</td>
            <td>{{.Activo}}</td>
            <td>{{.Carnet}}</td>
            {{if .Sexo }}
            <td>Hombre</td>
            {{else}}
            <td>Mujer</td>
            {{end}}
            <td>{{.NumeroT.Int64}}</td>
            <td>{{.NumeroPerteneciente.String}}</td>
            <td>{{.Direccion}}</td>
            <td>Centro Habana</td>
            <td><button class="btn" onclick="openModal('modal{{.ID}}')">Ver</button></td>
        </tr>
        {{end}}

        <!-- Más filas de ejemplo -->
        </tbody>
    </table>

    <div class="button-container">
        <button class="btn" onclick="openModal('createModal')">Crear Asociado</button>
    </div>
    {{ range .asociados}}
    <div id="modal{{.ID}}" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modal{{.ID}}')">&times;</span>
            <h2>Detalles del Asociado</h2>
            <div class="modal-buttons">
                <button class="btn-modal" onclick="openModal('culturalModal{{.ID}}')">Actividades Culturales</button>
                <button class="btn-modal" onclick="openModal('educativeModal{{.ID}}')">Actividades Educativas</button>
                <button class="btn-modal" onclick="openModal('sportModal{{.ID}}')">Actividades Deportivas</button>
                <button class="btn-modal" onclick="openModal('socialModal{{.ID}}')">Datos Sociales</button>
            </div>

            <div class="details">


                <p>Nombre: {{.Nombre}}</p>

                <p>Primer Apellido: {{.Apellido1}}</p>
                <p>Segundo Apellido: {{.Apellido2}}</p>
                <p>Activo: {{.Activo}}</p>
                <p>Carnet: {{.Carnet}}</p>

                {{if .Sexo }}
                <p>Sexo: Masculino</p>
                {{else}}
                <p>Sexo: Femenino</p>
                {{end}}
                <p>Teléfono: {{.NumeroT.Int64}}</p>
                <p>Otro Número: {{.NumeroPerteneciente.String}}</p>
                <p>Dirección: {{.Direccion}}</p>
                <p>Municipio: Centro Habana</p>
            </div>
        </div>
    </div>

    <!-- Modales para las actividades -->

    <div id="culturalModal{{.ID}}" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('culturalModal{{.ID}}')">&times;</span>
            <button class="carousel-button" onclick="nextModal('educativeModal{{.ID}}')">Siguiente</button>
            <h2>Actividades Culturales</h2>
            <div class="activity-buttons">
                <button>Añadir Actividad</button>
                <button>Editar Actividad</button>
                <button>Eliminar Actividad</button>
            </div>
            <p>Lista de actividades culturales...</p>
        </div>
    </div>


    <div id="educativeModal{{.ID}}" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('educativeModal{{.ID}}')">&times;</span>
            <button class="carousel-button" onclick="nextModal('sportModal{{.ID}}')">Siguiente</button>
            <h2>Actividades Educativas</h2>
            <div class="activity-buttons">
                <button>Añadir Actividad</button>
                <button>Editar Actividad</button>
                <button>Eliminar Actividad</button>
            </div>
            <p>Lista de actividades educativas...</p>
        </div>
    </div>

    <div id="sportModal{{.ID}}" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('sportModal{{.ID}}')">&times;</span>
            <button class="carousel-button" onclick="nextModal('culturalModal')">Siguiente</button>
            <h2>Actividades Deportivas</h2>
            <div class="activity-buttons">
                <button>Añadir Actividad</button>
                <button>Editar Actividad</button>
                <button>Eliminar Actividad</button>
            </div>
            <p>Lista de actividades deportivas...</p>
        </div>
    </div>


    <div id="socialModal{{.ID}}" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('socialModal{{.ID}}')">&times;</span>

            <h2>Datos Sociales</h2>
            <div class="activity-buttons">
                <button>Añadir Actividad</button>
                <button>Editar Actividad</button>
                <button>Eliminar Actividad</button>
            </div>
            <p>Lista de datos sociales...</p>
        </div>
    </div>
    {{end}}
</main>

<script>
    function openModal(id) {
        let modals = document.querySelectorAll('.modal');
        modals.forEach(function(modal) {
            modal.classList.remove('show');
        });
        document.getElementById(id).classList.add('show');
    }

    function closeModal(id) {
        document.getElementById(id).classList.remove('show');
    }

    function nextModal(id) {
        let currentModal = document.querySelector('.modal.show');
        currentModal.classList.remove('show');
        document.getElementById(id).classList.add('show');
    }

    function filterTable() {
        const searchInput = document.getElementById('search').value.toLowerCase();
        const category = document.getElementById('searchCategory').value;
        const table = document.getElementById('asociadosTable');
        const rows = table.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName('td');
            const cell = cells[category];
            const text = cell ? cell.innerText.toLowerCase() : '';
            rows[i].style.display = text.includes(searchInput) ? '' : 'none';
        }
    }
</script>

</body>
</html>
